<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ar Designs</title>
    <link rel="stylesheet" href="./css/desktop.css">
    <link rel="shortcut icon" href="./IMAGES/logo-transparent.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/633ffd52b2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" media="screen and (max-width: 923px)" href="./css/phone.css">
</head>

<body>
    <main>
        <!-- menu -->
        <div id="upper">
            <div id="menu">
                <div class="logo"><img src="./IMAGES/logo-transparent.png" alt="" srcset=""></div>
                <div id="responsivemenu">
                    <div id="bar1"></div>
                    <div id="bar2"></div>
                    <div id="bar3"></div>
                </div>
                <ul id="menumain">
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutme">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contactme">Contact-me</a></li>
                </ul>

            </div>