<%- include("partials/menu.ejs") %>
            <!-- slogan -->
        
            <div id="aboutme">
                <h1>About-Me</h1>
                <div class="row">
                    <div class="profile"><img src="./IMAGES/profile1.jpg" alt="" srcset=""></div>
                    <section class="about">
                        <div class="description">
                            <h1>Hello,</h1>
                            <p> I'm Ankijit, an intermediate web developer with a passion for creating dynamic digital experiences. My skills span HTML, CSS, JavaScript, React, Express.js, Node.js, MongoDB, and APIs. I thrive on learning and pushing my boundaries to craft engaging web solutions. My goal is to keep evolving and make an impact in the web development world.


                                
                            </p>
                        </div>
                        <!-- qualities -->
                        <div class="tabs">
                            <div class="tab activetab" onclick="opentab('Skills')">Skills</div>
                            <div class="tab" onclick="opentab('Education')">Education</div>
                            <div class="tab" onclick="opentab('Projects')">Projects</div>
                        </div>
                        <div class="tabdescription activetabdescription" id="Skills">
                            <ul>
                                <li>
                                    <span>Front-End Development:</span>
                                    <p>Crafting user interfaces using HTML, CSS, and JavaScript to create engaging web experiences.</p>
                                </li>
                                <li>
                                    <span>Back-End Development:</span>
                                    <p>Building robust web applications with proficiency in Node.js, Express.js, and MongoDB.</p>
                                </li>
                                <li>
                                    <span>UI/UX Design:</span>
                                    <p>Creating intuitive and visually appealing user interfaces that enhance user experiences.</p>
                                </li>
                                <li>
                                    <span>API Integration:</span>
                                    <p>Integrating APIs to enhance functionality and data exchange within web applications.</p>
                                </li>
                                <li>
                                    <span>Problem Solving:</span>
                                    <p>Applying analytical thinking to solve complex challenges with innovative solutions.</p>
                                </li>
                                <li>
                                    <span>Responsive Web Design:</span>
                                    <p>Designing websites that provide a seamless and visually appealing experience on all devices.</p>
                                </li>
                                <li>
                                    <span>Collaboration:</span>
                                    <p>Fostering effective teamwork and communication for successful project outcomes.</p>
                                </li>
                                <li>
                                    <span>Ongoing Learning:</span>
                                    <p>Committed to continuous improvement by staying updated with evolving web technologies.</p>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="tabdescription" id="Education">
                            <ul>
                                <li><span>2008-2018</span>
                                    <p>St Stephen's High School</p>
                                </li>
                                <li><span>2018-2020</span>
                                    <p>Inventure Academy</p>
                                </li>
                                <li><span>2020-2023</span>
                                    <p>Tinsukia College</p>
                                </li>
                            </ul>
                        </div>
                        <div class="tabdescription" id="Projects">
                            <ul>
                                <li>
                                    <span>Imaginary Music Player</span>
                                    <p>Musico - A web-based music player application for enjoying your favorite tunes: <a href="//ankijit.github.io/webplayer/" target="_blank">Visit the site</a></p>
                                </li>
                                <li>
                                    <span>Shopping Site</span>
                                    <p>E-commerce site - A web platform for seamless shopping experiences with a wide variety of products: <a href="//example.com/shopping-site" target="_blank">Visit the site</a></p>
                                </li>
                                <li>
                                    <span>Basic Chat App with Database Integration</span>
                                    <p>Chat app - Real-time messaging with a robust database backend for data storage and retrieval: <a href="//example.com/chat-app" target="_blank">Visit the site</a></p>
                                </li>
                            </ul>
                            
                        </div>
                    </section>
                </div>
            </div>

            <%- include("partials/footer.ejs") %> 