<%- include("partials/menu.ejs") %>
<div id="contact">
    <div class="contact-me">
        <div class="socialmediacontact">
            <h3>Get in touch</h3>
            <p><i class="fa-regular fa-envelope"></i>ankijit123@gmail.com</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100091178284158" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://github.com/Ankijit" target="_blank"><i class="fa-brands fa-github"></i></i></a>
                <a href="https://www.instagram.com/a.r_design.s/" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ankijit-roy-642409263" target="_blank"><i
                        class="fa-brands fa-linkedin"></i></a>

            </div>
        </div>
        <div class="form">
            <form action="/contactme" method="post">
                <h3>For clients</h3>
                <input type="text" name="Name" placeholder="Your Name" required>
                <input type="email" name="Email" placeholder="Your Email" required>
                <textarea name="Message" rows="6" placeholder="Your Requirements"></textarea>
                <button class="bn632-hover bn26  btn1 btn2">Submit</button>
            </form>
            <span id="msg"></span>
        </div>
    </div>
</div>
</main>


<%- include("partials/footer.ejs") %> 