<%- include("partials/menu.ejs") %>
            <div class="cover">
                <div>
                    <h1>I am Ankijit Roy</h1>
                    <p>A webiste Developing freelancer</p>
                    <p>Proficient in MERN stack dvelopment</p>
                    <a href="https://resume.io/r/aqkqgPDck" target="_blank"><button
                            class="bn632-hover bn26">Show-CV</button></a>
                </div>
                
            </div>
        </div>
        <%- include("partials/footer.ejs") %> 