<%- include("partials/menu.ejs") %>
<div class="cover">
    <div>
    <h1>I am Ankijit Roy</h1>
    <p>A webite Developing freelancer</p>
    <p>Proficient in MERN stack dvelopment</p>
    <a href="https://resume.io/r/aqkqgPDck"><button class="bn632-hover bn26" >Show-CV</button></a>
</div>
<%- include("partials/footer.ejs") %> 
